@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main: #F5F9FA;
  --font-roboto: var(--font-roboto);
}

.dark {
  --color-main: #090A0F;
}

* {
  font-family: var(--font-openSans);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.animate-fade {
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}