@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: var(--font-DM-Sans);
}

@theme {
  --color-main-dark: #0B0D10;
  --animate-flare-fade: flareFade 7s ease-in-out infinite;
  --animate-dark-flare-fade: darkFlareFade 7s ease-in-out infinite;
}
@keyframes flareFade {
  0%, 100% { opacity: 0.12; }
  50% { opacity: 0.15; }
}
@keyframes darkFlareFade {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

::selection {
  background-color: #582bac;
}

.center_btn {
  border-radius: 10px;
  animation-duration: background-position 500ms;
  transition: background-position 0.5s ease-out;
  transition: border-radius 0.2s ease-out;
  &:hover {
    border-radius: 27px;
  }
}